/*---------------------------------
         Fuente: Latin-Text
-----------------------------------*/
@import url(other.css);

a
{
    text-decoration: none;
}

html
{
    font-family: 'Muli', sans-serif !important;
    font-weight: normal;
    line-height: 1.5;

    color: #6b6f82;
}
@media only screen and (min-width: 0)
{
    html
    {
        font-size: 14px;
    }
}
@media only screen and (min-width: 992px)
{
    html
    {
        font-size: 14.5px;
    }
}
@media only screen and (min-width: 1200px)
{
    html
    {
        font-size: 15px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    line-height: 1.1;

    color: #333;
}

p
{
    font-family: 'Muli', sans-serif;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a
{
    font-weight: inherit;
}

h1
{
    font-size: 4.2rem;
    line-height: 110%;

    margin: 2.1rem 0 1.68rem 0;
}

h2
{
    font-size: 3.56rem;
    line-height: 110%;

    margin: 1.78rem 0 1.424rem 0;
}

h3
{
    font-size: 2.92rem;
    line-height: 110%;

    margin: 1.46rem 0 1.168rem 0;
}

h4
{
    font-size: 2.28rem;
    line-height: 110%;

    margin: 1.14rem 0 .912rem 0;
}

h5
{
    font-size: 1.64rem;
    line-height: 110%;

    margin: .82rem 0 .656rem 0;
}

h6
{
    font-size: 1.15rem;
    line-height: 110%;

    margin: .575rem 0 .46rem 0;
}

em
{
    font-style: italic;
}

strong
{
    font-weight: 500;
}

small
{
    font-size: 75%;
}

.light
{
    font-weight: 300;
}

.thin
{
    font-weight: 200;
}

.flow-text
{
    font-weight: 300;
}

.small
{
    font-size: 1.0rem !important;
}

.medium-small
{
    font-size: .9rem !important;
}

.ultra-small
{
    font-size: .8rem !important;
}

small
{
    font-size: .8rem;
}

.strong
{
    font-weight: 600;
}

h4.header
{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.508rem;

    margin: 1.14rem 0 .912rem 0;

    text-transform: uppercase;
}

h4.header2
{
    font-size: 1.1rem;
    font-weight: 400;

    text-transform: uppercase;
}

p.title
{
    font-size: 1.3rem;
}

p.header
{
    font-size: 1rem;
    font-weight: 500;

    text-transform: uppercase;
}

li.li-hover:hover
{
    background: transparent !important;
}

li.search-out:hover
{
    background: transparent;
}

li.mobile:before
{
    background: #f7464a;
}

li.kitchen:before
{
    background: #46bfbd;
}

li.home:before
{
    background: #fdb45c;
}

.more-text
{
    font-weight: 500;

    padding: 5px 20px;

    letter-spacing: 1px;
    text-transform: uppercase;
}

.valign-demo
{
    height: 400px;

    background-color: #ddd;
}

.margin
{
    margin: 0 !important;
}

.uppercase
{
    text-transform: uppercase;
}