html{
    background-image: url(../../pics/utilities/Party.jpg);
}
#LoginCard{
    margin-top: 7rem;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
#FooterPart{
    background-color: rgb(32, 68, 90)  ;
}
#NavBar{
    background-color: rgb(245, 29, 47);
}

