  html{
    background-color: rgb(32, 68, 90)  ;
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
header, main, footer {
    padding-left: 300px;
  }
 
  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }
  #CardEvent{
    border-radius: 10px;
  }
  #FooterPart{
      background: rgb(77, 51, 172);
  }
  #Title{
    margin-left: 38rem;
  }
  #map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }
   #PrincipalEvent{
    border-left: 5px solid #a0a9e7 ; /* Just change the color value and that's it*/
  }
  #DetailEvent{
    border-left: 5px solid rgb(245, 29, 47); 
  }
  #ChipDontpay{
    margin-top: 1rem;
  }
  #SearchBar{
    margin-top: 1.5rem;
  }